<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('nav.ejs') %>
        <h1>All Restaurants</h1>
        <% for(oneRestaurant of restaurants){%>
            <% if(oneRestaurant.isOpen===true){%>
                <a href="/restaurants/<%=oneRestaurant.id%>" class="aLink"><%= oneRestaurant.name %></a>

                <% } else { %>
                    <a href="/restaurants/<%=oneRestaurant.id%>" class="aLink"><%= oneRestaurant.name %> - Closed</a>

                    <%}%>
                        <% } %>
</body>
</html>