<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <%- include('nav.ejs') %>
    <h1>Resturaunt details</h1>
    <p>Name: <%= foundrestaurant.name %></p>
    <p>Address: <%= foundrestaurant.address %></p>
    <p>Open: <%= foundrestaurant.isOpen %></p>
    <p>Phone: <%= foundrestaurant.phone %></p>

    <% for(oneMenuItem of foundrestaurant.menu){%>
          <p><%= oneMenuItem.name%></p>
          <p><%= oneMenuItem.price%></p>
          <p><%= oneMenuItem.rating%></p>
       <% } %>
    </body>
</html>